# Before you start :
   - These exercises are related to the Subsetting and Descriptive Stats lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary

In [ ]:
import numpy as np
import pandas as pd

# Challenge 1

#### In this challenge we will use the `Temp_States.csv` file. 

#### First import it into a data frame called `temp`.

In [ ]:
temp=pd.read_csv('/Users/mar/5.1-lab-subsetting-and-descriptive-stats/your-code/Temp_States.csv')

#### Print `temp`

In [ ]:
temp.head()

#### Explore the data types of the Temp dataframe. What type of data do we have? Comment your result.

In [ ]:
temp.info() #tenemos ciudad y estado como 'object', es decir, string, y temperatura como float.

#### Select the rows where state is New York

In [ ]:
temp[temp.State=='New York']

#### What is the average of the temperature of cities in New York?

In [ ]:
temp_ny=temp[temp.State=='New York'] #defino la tabla de NY
temp_ny.Temperature.mean()

#### We want to know cities and states with Temperature above 15 degress Celcius

In [ ]:
temp[temp.Temperature>15.0]

#### Now, return only the cities that have a temperature above 15 degress Celcius

In [ ]:
temp_15= temp[temp.Temperature>15.0] #defino la tabla
temp_15.City

#### We want to know which cities have a temperature above 15 degrees Celcius and below 20 degrees Celcius

*Hint: First write the condition then select the rows.*

In [ ]:
temp[(temp.Temperature>15.0) & (temp.Temperature<20.0)]

#### Find the mean and the standard deviation of the temperature of each state.

*Hint: Use functions from Data Manipulation lesson*

In [ ]:
temp.State.unique() #tenemos 'New York', 'Connecticut', 'New Jersey'.

In [ ]:
temp_ny=temp[temp.State=='New York']
meanNY=temp_ny.Temperature.mean()
stdNY=temp_ny.Temperature.std()
meanNY,stdNY

In [ ]:
temp_C=temp[temp.State=='Connecticut']
meanC=temp_C.Temperature.mean()
stdC=temp_C.Temperature.std()
meanC,stdC

In [ ]:
temp_nj=temp[temp.State=='New Jersey']
meanNJ=temp_nj.Temperature.mean()
stdNJ=temp_nj.Temperature.std()
meanNJ,stdNJ

# Challenge 2

#### Load the `employee.csv` file into a DataFrame. Call the dataframe `employee`

In [ ]:
employee=pd.read_csv('/Users/mar/5.1-lab-subsetting-and-descriptive-stats/your-code/employee.csv')

#### Explore the data types of the Temp dataframe. Comment your results

In [ ]:
employee.info() #Salvp las columnas de aÃ±os y salario que son int, el resto son string.

In [ ]:
employee.head()

#### Show visually the frequency distribution (histogram) of the employee dataset. In few words describe these histograms?

In [ ]:
#%matplotlib notebook
%matplotlib inline

In [ ]:
#import matplotlib.pyplot as plt
import pylab as plt
import seaborn as sns

In [ ]:
sns.histplot(employee)

In [ ]:
sns.histplot(x=employee.Years)

In [ ]:
sns.histplot(x=employee.Salary, color='r')

#### What's the average salary in this company?

In [ ]:
employee.Salary.mean()

#### What's the highest salary?

In [ ]:
employee.Salary.max()

#### What's the lowest salary?

In [ ]:
employee.Salary.min()

#### Who are the employees with the lowest salary?

In [ ]:
employee[employee.Salary==30]

#### Could you give all the information about an employee called David?

In [ ]:
employee[employee.Name=='David']

#### Could you give only David's salary?

In [ ]:
employee[employee.Name=='David'].Salary

#### Print all the rows where job title is associate

In [ ]:
employee[employee.Title=='associate']

#### Print the first 3 rows of your dataframe

##### Tip : There are 2 ways to do it. Do it both ways

In [ ]:
employee.head(3)

In [ ]:
employee[:3]

#### Find the employees who's title is associate and the salary above 55?

In [ ]:
employee[(employee.Title=='associate') & (employee.Salary>55)]

#### Group the employees based on their number of years of employment. What are the average salaries in each group?

In [ ]:
employee.groupby(by='Years').mean()

####  What is the average Salary per title?

In [ ]:
employee.groupby(by=['Title','Salary']).mean()

#### Show a visual summary of the data using boxplot. What Are the First and Third Quartiles? Comment your results.
##### * Hint : Quantiles vs Quartiles*
##### - `In Probability and Statistics, quantiles are cut points dividing the range of a probability distribution into continuous intervals with equal probabilities. When division is into four parts the values of the variate corresponding to 25%, 50% and 75% of the total distribution are called quartiles.`

In [ ]:
employee.boxplot()

In [ ]:
# print first quartile here

stats=employee.describe().T

stats['IQR']=stats['75%']-stats['25%']
stats['IQR1.5']= 1.5 * stats['IQR'] + stats['75%']
stats

#el primer es el de 25%
stats['25%']

In [ ]:
# print third quartile here
#el primer es el de 25%
stats['75%']

#### Is the mean salary per gender different?

In [ ]:
employee.groupby(by=['Gender']).mean()  #segÃºn esto sÃ­, pero habrÃ­a que ver en relaciÃ³n con cada aÃ±o

In [ ]:
employee.groupby(by=['Gender','Salary']).mean()

#### Find the minimum, mean and the maximum of all numeric columns for each Department.

##### Hint: Use functions from Data Manipulation lesson

In [ ]:
stats[['mean','min','max']]

### Bonus Question

#### For each department, compute the difference between the maximal salary and the minimal salary.

##### * Hint: try using `agg` or `apply` and `lambda`*

# Challenge 3

#### Open the Orders.csv dataset. Name your dataset orders

In [ ]:
orders=pd.read_csv('/Users/mar/5.1-lab-subsetting-and-descriptive-stats/your-code/Orders.zip')
orders.head()

#### Explore your dataset by looking at the data types and the summary statistics. Comment your results

In [ ]:
# your answer here
orders.info()  #tenemos columnas numericas int, otras float y tambiÃ©n de string.

In [ ]:
# your answer here
orders.describe().T

####  What is the average Purchase Price?

In [ ]:
orders.amount_spent.mean()

#### What were the highest and lowest purchase prices?

In [ ]:
# your answer here
orders.amount_spent.max()

In [ ]:
# your answer here
orders.amount_spent.min()

#### Select all the customers we have in Spain

In [ ]:
# your answer here
orders[orders.Country=='Spain'].head()

#### How many customers do we have in Spain?
##### Hint : Use value_counts()

In [ ]:
len(orders[orders.Country=='Spain'])

#### Select all the customers who have bought more than 50 items ?

In [ ]:
# your answer here
orders[orders.Quantity>50].head()

#### Select orders from Spain that are above 50 items

In [ ]:
# your answer here
orders[(orders.Country=='Spain') & (orders.Quantity>50)].head()

#### Select all free orders

In [ ]:
# your answer here
orders[orders.amount_spent==0].head()

#### Select all orders that are 'lunch bag'
#### Hint: Use string functions

In [ ]:
# your answer here
orders[orders.Description.str.contains('lunch bag')].head()

#### Select all orders that are made in 2011 and are 'lunch bag'

In [ ]:
orders[(orders.Description.str.contains('lunch bag')) & (orders.year==2011)].head()

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your answer here
spain=orders[orders.Country=='Spain']
sns.histplot(spain.amount_spent,bins=50)

#hay demasiados outliers creo. Voy a intentar borrarlos y hacer lo mismo

In [ ]:
stats_spain=spain.describe().T
stats_spain['IQR']=stats_spain['75%']-stats_spain['25%']
stats_spain['IQR1.5']= 1.5 * stats_spain['IQR'] + stats_spain['75%']
stats_spain

In [ ]:
data=spain[spain.amount_spent<34.575]

sns.histplot(data.amount_spent,bins=50)   # mucho mejor

In [ ]:
sns.countplot(x=spain.amount_spent)

#### Select all orders made in the month of August

In [ ]:
# your answer here
orders[orders.month==8].head()

#### Select how many orders are made by countries in the month of August
##### Hint: Use value_counts()

In [ ]:
# your answer here
ago=orders[orders.month==8]
ago.Country.value_counts()

#### What's the  average amount of money spent by country

In [ ]:
# your answer here
df1=orders.groupby(by=['Country']).mean()
df1.amount_spent

#### What's the most expensive item?

In [ ]:
# your answer here
orders[orders.UnitPrice==orders.UnitPrice.max()]

#### What was the average amount spent per year ?

In [ ]:
# your answer here
df2=orders.groupby(by=['year']).mean()
df2.amount_spent