# Before you start :
   - These exercises are related to the Subsetting and Descriptive Stats lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary

In [ ]:
# import libraries here

import numpy as np
import statistics as stats
import math
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import pylab as plt
import seaborn as sns

# Challenge 1

#### In this challenge we will use the `Temp_States.csv` file. 

#### First import it into a data frame called `temp`.

In [ ]:
# your answer here
temp = pd.read_csv(r'../your-code/Temp_States.csv')
temp.head()

#### Print `temp`

In [ ]:
temp

#### Explore the data types of the Temp dataframe. What type of data do we have? Comment your result.

In [ ]:
# your answer here
temp.dtypes

#### Select the rows where state is New York

In [ ]:
# your answer here
temp[temp['State'] == 'New York']

#### What is the average of the temperature of cities in New York?

In [ ]:
# your answer here
temp[temp['State'] == 'New York'].mean()

#### We want to know cities and states with Temperature above 15 degress Celcius

In [ ]:
# your answer here
temp[temp['Temperature'] >= 15]

#### Now, return only the cities that have a temperature above 15 degress Celcius

In [ ]:
# your answer here
temp.City[temp['Temperature'] > 15]

#### We want to know which cities have a temperature above 15 degrees Celcius and below 20 degrees Celcius

*Hint: First write the condition then select the rows.*

In [ ]:
# your answer here
temp.City[(temp['Temperature'] > 15) & (temp['Temperature'] < 20)]

#### Find the mean and the standard deviation of the temperature of each state.

*Hint: Use functions from Data Manipulation lesson*

In [ ]:
# your answer here
temp.groupby('State')['Temperature'].mean()

In [ ]:
temp.groupby('State')['Temperature'].std()

# Challenge 2

#### Load the `employee.csv` file into a DataFrame. Call the dataframe `employee`

In [ ]:
# your answer here
employee = pd.read_csv('./Employee.csv')
employee

#### Explore the data types of the Temp dataframe. Comment your results

In [ ]:
# your answer here
employee.info()

#### Show visually the frequency distribution (histogram) of the employee dataset. In few words describe these histograms?

In [ ]:
# your answer here0
sns.countplot(x=employee.Name);

In [ ]:
sns.countplot(x=employee.Gender);

In [ ]:
sns.countplot(x=employee.Salary);

#### What's the average salary in this company?

In [ ]:
# your answer here
employee['Salary'].mean()

#### What's the highest salary?

In [ ]:
# your answer here

employee['Salary'].max()

#### What's the lowest salary?

In [ ]:
# your answer here

employee['Salary'].min()

#### Who are the employees with the lowest salary?

In [ ]:
# your answer here
employee[['Name','Salary']] [employee['Salary'] == employee['Salary'].min()]

#### Could you give all the information about an employee called David?

In [ ]:
# your answer here

employee[employee['Name'] == 'David']

#### Could you give only David's salary?

In [ ]:
# your answer here
employee[['Name','Salary']] [employee['Name'] == 'David']

#### Print all the rows where job title is associate

In [ ]:
# your answer here
employee[employee['Title'] == 'associate']

#### Print the first 3 rows of your dataframe

##### Tip : There are 2 ways to do it. Do it both ways

In [ ]:
# your answer here- 1 method

employee.head(3)

In [ ]:
# your answer here- 2nd method
employee[:3]

#### Find the employees who's title is associate and the salary above 55?

In [ ]:
# your answer here
employee[(employee['Title'] == 'associate') & (employee['Salary'] > 55)]

#### Group the employees based on their number of years of employment. What are the average salaries in each group?

In [ ]:
# your answer here
employee.groupby(['Years']).mean()

####  What is the average Salary per title?

In [ ]:
# your answer here
employee.groupby(['Title']).mean()['Salary']

#### Show a visual summary of the data using boxplot. What Are the First and Third Quartiles? Comment your results.
##### * Hint : Quantiles vs Quartiles*
##### - `In Probability and Statistics, quantiles are cut points dividing the range of a probability distribution into continuous intervals with equal probabilities. When division is into four parts the values of the variate corresponding to 25%, 50% and 75% of the total distribution are called quartiles.`

In [ ]:
# draw boxplot here
employee.boxplot();

In [ ]:
# print first quartile here
np.quantile(employee.Salary, 0.25)

In [ ]:
# print third quartile here
np.quantile(employee.Salary, 0.75)

#### Is the mean salary per gender different?

In [ ]:
# your answer here

employee.groupby('Gender').mean()['Salary']

#### Find the minimum, mean and the maximum of all numeric columns for each Department.

##### Hint: Use functions from Data Manipulation lesson

In [ ]:
# your answer here
employee.groupby('Department').describe().T

### Bonus Question

#### For each department, compute the difference between the maximal salary and the minimal salary.

##### * Hint: try using `agg` or `apply` and `lambda`*

In [ ]:
# your answer here

# Challenge 3

#### Open the Orders.csv dataset. Name your dataset orders

In [ ]:
# your answer here
orders = pd.read_csv('./Orders.zip')
orders.head()

#### Explore your dataset by looking at the data types and the summary statistics. Comment your results

In [ ]:
# your answer here
orders.info()

In [ ]:
# your answer here
orders.describe().T

####  What is the average Purchase Price?

In [ ]:
# your answer here
orders['amount_spent'].mean()

#### What were the highest and lowest purchase prices?

In [ ]:
# your answer here

orders['amount_spent'].max()

In [ ]:
# your answer here

orders['amount_spent'].min()

#### Select all the customers we have in Spain

In [ ]:
# your answer here
Spain=orders[orders['Country']=='Spain']
Spain.head()

#### How many customers do we have in Spain?
##### Hint : Use value_counts()

In [ ]:
# your answer here
len(orders[orders['Country']=='Spain']['CustomerID'].unique())

#### Select all the customers who have bought more than 50 items ?

In [ ]:
# your answer here

custo = orders.groupby('CustomerID').agg({'Quantity':sum})
custo[custo['Quantity']>50]
custo.head()

#### Select orders from Spain that are above 50 items

In [ ]:
# your answer here
spain = orders[orders['Country']=='Spain']

In [ ]:
spain_or = spain.groupby('InvoiceNo').agg({'Quantity':sum})
spain_or[spain_or['Quantity']>50]
spain_or.head()

#### Select all free orders

In [ ]:
# your answer here
free=orders[orders['amount_spent']==0]

#### Select all orders that are 'lunch bag'
#### Hint: Use string functions

In [ ]:
# your answer here
lunch = orders[orders['Description'].str.contains('lunch bag')]
lunch.head()

#### Select all orders that are made in 2011 and are 'lunch bag'

In [ ]:
# your answer here
orders[(orders['Description'].str.contains('lunch bag')) & (orders['year']==2011)]

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your answer here
sns.histplot(x=spain.amount_spent, bins=20);

#### Select all orders made in the month of August

In [ ]:
# your answer here
orders[orders['month']==8].head()

#### Select how many orders are made by countries in the month of August
##### Hint: Use value_counts()

In [ ]:
# your answer here
orders[orders['month']==8]['Country'].value_counts()

#### What's the  average amount of money spent by country

In [ ]:
# your answer here
orders.groupby('Country')['amount_spent'].mean()

#### What's the most expensive item?

In [ ]:
# your answer here
orders[orders['UnitPrice']==orders['UnitPrice'].max()]

#### What was the average amount spent per year ?

In [ ]:
# your answer here
orders.groupby('year').mean()['amount_spent']