# Before you start :
   - These exercises are related to the Subsetting and Descriptive Stats lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary

In [4]:
import numpy as np
import statistics as stats
import math
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import pylab as plt
import seaborn as sns

# Challenge 1

#### In this challenge we will use the `Temp_States.csv` file. 

#### First import it into a data frame called `temp`.

In [ ]:
temp = pd.read_csv('./Temp_States.csv')

#### Print `temp`

In [ ]:
temp

#### Explore the data types of the Temp dataframe. What type of data do we have? Comment your result.

In [ ]:
temp.info() # Tenemos 2 columnas string (object) y una float

#### Select the rows where state is New York

In [ ]:
temp[temp['State'] == 'New York']

#### What is the average of the temperature of cities in New York?

In [ ]:
temp[temp['State'] == 'New York'].mean()

#### We want to know cities and states with Temperature above 15 degress Celcius

In [ ]:
temp[temp'Temperature']>15]

#### Now, return only the cities that have a temperature above 15 degress Celcius

In [ ]:
temp['City'][temp['Temperature']>15]

#### We want to know which cities have a temperature above 15 degrees Celcius and below 20 degrees Celcius

*Hint: First write the condition then select the rows.*

In [ ]:
temp['City'][(temp['Temperature']>15) & (temp['Temperature']<20)]

#### Find the mean and the standard deviation of the temperature of each state.

*Hint: Use functions from Data Manipulation lesson*

In [ ]:
temp

In [ ]:
print('Mean NY',temp[temp['State']=='New York'].mean())
print('STD NY', temp[temp['State']=='New York'].std())
print('Mean CON',temp[temp['State']=='Connecticut'].mean())
print('STD CON', temp[temp['State']=='Connecticut'].std())
print('Mean NJ',temp[temp['State']=='New Jersey'].mean())
print('STD NJ', temp[temp['State']=='New Jersey'].std())

# Challenge 2

#### Load the `employee.csv` file into a DataFrame. Call the dataframe `employee`

In [ ]:
employee = pd.read_csv('./Employee.csv')
employee

#### Explore the data types of the Temp dataframe. Comment your results

In [ ]:
employee.info() # 5 string, 2 enteros

#### Show visually the frequency distribution (histogram) of the employee dataset. In few words describe these histograms?

In [ ]:
sns.countplot(x=employee.Name);

In [ ]:
sns.countplot(x=employee.Department, palette="Set3");

In [ ]:
sns.countplot(x=employee.Education, palette="flare");

In [ ]:
sns.countplot(x=employee.Gender, palette="Set1");

In [ ]:
sns.countplot(x=employee.Title, palette="Set2");

In [ ]:
sns.countplot(x=employee.Salary, palette="Set2");

#### What's the average salary in this company?

In [ ]:
employee['Salary'].mean()

#### What's the highest salary?

In [ ]:
employee['Salary'].max()

#### What's the lowest salary?

In [ ]:
employee['Salary'].min()

#### Who are the employees with the lowest salary?

In [ ]:
employee[['Name','Salary']] [employee['Salary'] == employee['Salary'].min()]

#### Could you give all the information about an employee called David?

In [ ]:
employee[employee['Name'] == 'David']

#### Could you give only David's salary?

In [ ]:
employee[['Name','Salary']] [employee['Name'] == 'David']

#### Print all the rows where job title is associate

In [ ]:
employee[employee['Title'] == 'associate']

#### Print the first 3 rows of your dataframe

##### Tip : There are 2 ways to do it. Do it both ways

In [ ]:
employee[employee.index<3]

In [ ]:
employee[:3]

In [ ]:
employee.head(3)

In [ ]:
employee.iloc[:3]

#### Find the employees who's title is associate and the salary above 55?

In [ ]:
employee[(employee['Title'] == 'associate') & (employee['Salary'] > 55)]

#### Group the employees based on their number of years of employment. What are the average salaries in each group?

In [ ]:
employee.groupby(['Years']).mean()

####  What is the average Salary per title?

In [ ]:
employee.groupby(['Title']).mean()['Salary']

#### Show a visual summary of the data using boxplot. What Are the First and Third Quartiles? Comment your results.
##### * Hint : Quantiles vs Quartiles*
##### - In Probability and Statistics, quantiles are cut points dividing the range of a probability distribution into continuous intervals with equal probabilities. When division is into four parts the values of the variate corresponding to 25%, 50% and 75% of the total distribution are called quartiles.

In [ ]:
employee.boxplot();

In [ ]:
sns.boxplot(x=employee.Years);

In [ ]:
sns.boxplot(x=employee.Salary);

In [ ]:
np.quantile(employee.Salary, 0.25) #Elegimos quedarnos con la variable Salario solo

In [ ]:
np.quantile(employee.Salary, 0.75)

In [ ]:
sns.histplot(x=employee.Salary)

plt.axvline(np.quantile(employee.Salary, 0.25),
            c='orange',
            linewidth=3.,
            linestyle='--',
            label='Q1')

plt.axvline(np.quantile(employee.Salary, 0.75),
            c='red',
            linewidth=3.,
            linestyle='--',
            label='Q1')

#### Is the mean salary per gender different?

In [ ]:
employee.groupby('Gender').mean()['Salary'] # Yes

#### Find the minimum, mean and the maximum of all numeric columns for each Department.

##### Hint: Use functions from Data Manipulation lesson

In [ ]:
employee.describe().T

In [ ]:
employee.groupby('Department').describe().T

### Bonus Question

#### For each department, compute the difference between the maximal salary and the minimal salary.

##### * Hint: try using `agg` or `apply` and `lambda`*

In [ ]:
info = employee.groupby('Department').describe()
info['dif_Years'] = info['Years']['max'] - info['Years']['min']
info['dif_Salary'] = info['Salary']['max'] - info['Salary']['min']
info

# Challenge 3

#### Open the Orders.csv dataset. Name your dataset orders

In [2]:
orders = pd.read_csv('./Orders.zip')
orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

#### Explore your dataset by looking at the data types and the summary statistics. Comment your results

In [ ]:
orders.info()

In [ ]:
orders.describe().T

####  What is the average Purchase Price?

In [39]:
orders['amount_spent'].mean()

3.116174480549152

#### What were the highest and lowest purchase prices?

In [ ]:
orders['amount_spent'].max()

In [ ]:
orders['amount_spent'].min()

#### Select all the customers we have in Spain

In [ ]:
orders[orders['Country']=='Spain']

#### How many customers do we have in Spain?
##### Hint : Use value_counts()

In [ ]:
len(orders[orders['Country']=='Spain']['CustomerID'].unique())

#### Select all the customers who have bought more than 50 items ?

In [ ]:
cust = orders.groupby('CustomerID').agg({'Quantity':sum})
cust[cust['Quantity']>50]

#### Select orders from Spain that are above 50 items

In [ ]:
spn = orders[orders['Country']=='Spain']

In [ ]:
spn_sum = spn.groupby('InvoiceNo').agg({'Quantity':sum})
spn_sum[spn_sum['Quantity']>50]

#### Select all free orders

In [40]:
orders[orders['amount_spent']==0]

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
6914,9302,537197,22841,2010,12,7,14,round cake tin vintage green,1,2010-12-05 14:02:00,0.0,12647,Germany,0.0
22539,33576,539263,22580,2010,12,4,14,advent calendar gingham sack,4,2010-12-16 14:36:00,0.0,16560,United Kingdom,0.0
25379,40089,539722,22423,2010,12,2,13,regency cakestand 3 tier,10,2010-12-21 13:45:00,0.0,14911,EIRE,0.0
29080,47068,540372,22090,2011,1,4,16,paper bunting retrospot,24,2011-01-06 16:41:00,0.0,13081,United Kingdom,0.0
29082,47070,540372,22553,2011,1,4,16,plasters in tin skulls,24,2011-01-06 16:41:00,0.0,13081,United Kingdom,0.0
34494,56674,541109,22168,2011,1,4,15,organiser wood antique white,1,2011-01-13 15:10:00,0.0,15107,United Kingdom,0.0
53788,86789,543599,84535B,2011,2,4,13,fairy cakes notebook a6 size,16,2011-02-10 13:08:00,0.0,17560,United Kingdom,0.0
85671,130188,547417,22062,2011,3,3,10,ceramic bowl with love heart design,36,2011-03-23 10:25:00,0.0,13239,United Kingdom,0.0
92875,139453,548318,22055,2011,3,3,12,mini cake stand hanging strawbery,5,2011-03-30 12:45:00,0.0,13113,United Kingdom,0.0
97430,145208,548871,22162,2011,4,1,14,heart garland rustic padded,2,2011-04-04 14:42:00,0.0,14410,United Kingdom,0.0
107192,157042,550188,22636,2011,4,4,18,childs breakfast set circus parade,1,2011-04-14 18:57:00,0.0,12457,Switzerland,0.0
128641,187613,553000,47566,2011,5,4,15,party bunting,4,2011-05-12 15:21:00,0.0,17667,United Kingdom,0.0
137127,198383,554037,22619,2011,5,5,14,set of 6 soldier skittles,80,2011-05-20 14:13:00,0.0,12415,Australia,0.0
194648,279324,561284,22167,2011,7,2,12,oval wall mirror diamante,1,2011-07-26 12:24:00,0.0,16818,United Kingdom,0.0
197173,282912,561669,22960,2011,7,4,17,jam making set with jars,11,2011-07-28 17:09:00,0.0,12507,Spain,0.0
199711,285657,561916,M,2011,8,1,11,manual,1,2011-08-01 11:44:00,0.0,15581,United Kingdom,0.0
208950,298054,562973,23157,2011,8,4,11,set of 6 nativity magnets,240,2011-08-11 11:42:00,0.0,14911,EIRE,0.0
223931,314745,564651,23270,2011,8,5,14,set of 2 ceramic painted hearts,96,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
223932,314746,564651,23268,2011,8,5,14,set of 2 ceramic christmas reindeer,192,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
223933,314747,564651,22955,2011,8,5,14,36 foil star cake cases,144,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
223934,314748,564651,21786,2011,8,5,14,polkadot rain hat,144,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
256263,358655,568158,PADS,2011,9,7,12,pads to match all cushions,1,2011-09-25 12:22:00,0.0,16133,United Kingdom,0.0
259399,361825,568384,M,2011,9,2,9,manual,1,2011-09-27 09:46:00,0.0,12748,United Kingdom,0.0
273926,379913,569716,22778,2011,10,4,8,glass cloche small,2,2011-10-06 08:17:00,0.0,15804,United Kingdom,0.0
286507,395529,571035,M,2011,10,4,12,manual,1,2011-10-13 12:50:00,0.0,12446,RSA,0.0
307092,420404,572893,21208,2011,10,3,14,pastel colour honeycomb fan,5,2011-10-26 14:36:00,0.0,18059,United Kingdom,0.0
319882,436428,574138,23234,2011,11,4,11,biscuit tin vintage christmas,216,2011-11-03 11:26:00,0.0,12415,Australia,0.0
320049,436597,574175,22065,2011,11,4,11,christmas pudding trinket pot,12,2011-11-03 11:47:00,0.0,14110,United Kingdom,0.0
320407,436961,574252,M,2011,11,4,13,manual,1,2011-11-03 13:24:00,0.0,12437,France,0.0
322279,439361,574469,22385,2011,11,5,11,jumbo bag spaceboy design,12,2011-11-04 11:55:00,0.0,12431,Australia,0.0
328385,446125,574879,22625,2011,11,1,13,red kitchen scales,2,2011-11-07 13:22:00,0.0,13014,United Kingdom,0.0
329006,446793,574920,22899,2011,11,1,16,children's apron dolly girl,1,2011-11-07 16:34:00,0.0,13985,United Kingdom,0.0
329007,446794,574920,23480,2011,11,1,16,mini lights woodland mushrooms,1,2011-11-07 16:34:00,0.0,13985,United Kingdom,0.0
334242,454463,575579,22437,2011,11,4,11,set of 9 black skull balloons,20,2011-11-10 11:49:00,0.0,13081,United Kingdom,0.0
334243,454464,575579,22089,2011,11,4,11,paper bunting vintage paisley,24,2011-11-10 11:49:00,0.0,13081,United Kingdom,0.0
352746,479079,577129,22464,2011,11,4,19,hanging metal heart lantern,4,2011-11-17 19:52:00,0.0,15602,United Kingdom,0.0
353097,479546,577168,M,2011,11,5,10,manual,1,2011-11-18 10:42:00,0.0,12603,Germany,0.0
354170,480649,577314,23407,2011,11,5,13,set of 2 trays home sweet home,2,2011-11-18 13:23:00,0.0,12444,Norway,0.0
358629,485985,577696,M,2011,11,1,11,manual,1,2011-11-21 11:57:00,0.0,16406,United Kingdom,0.0
370473,502122,578841,84826,2011,11,5,15,asstd design 3d paper stickers,12540,2011-11-25 15:57:00,0.0,13256,United Kingdom,0.0

#### Select all orders that are 'lunch bag'
#### Hint: Use string functions

In [ ]:
lunch_row = orders[orders['Description'].str.contains('lunch bag')]
lunch_row

#### Select all orders that are made in 2011 and are 'lunch bag'

In [ ]:
orders[(orders['Description'].str.contains('lunch bag')) & (orders['year']==2011)]

#### Show the frequency distribution of the amount spent in Spain.

In [9]:
spn_spent = orders[orders['Country']=='Spain']['amount_spent']

In [14]:
res={}

for e in list(spn_spent):
    
    res[e]=list(spn_spent).count(e)
    
res

{115.5: 2,
 145.0: 6,
 99.0: 1,
 29.95: 2,
 2.1: 4,
 1.25: 15,
 2.55: 15,
 6.25: 3,
 0.42: 1,
 19.9: 28,
 0.85: 5,
 1.45: 9,
 1.3: 8,
 2.5: 16,
 4.65: 2,
 2.95: 17,
 3.75: 19,
 4.95: 13,
 1.95: 9,
 8.5: 20,
 1.7: 7,
 4.25: 7,
 7.5: 20,
 9.9: 38,
 1.65: 11,
 9.95: 16,
 5.9: 19,
 91.8: 1,
 35.400000000000006: 12,
 10.08: 21,
 5.04: 39,
 15.0: 186,
 13.919999999999998: 9,
 39.6: 16,
 127.5: 1,
 59.7: 3,
 35.7: 4,
 53.55: 2,
 79.6: 6,
 140.0: 5,
 30.0: 59,
 74.4: 1,
 19.5: 17,
 12.5: 24,
 16.5: 56,
 112.0: 5,
 10.5: 43,
 2.28: 3,
 7.800000000000001: 18,
 5.1: 15,
 6.300000000000001: 3,
 5.0: 9,
 11.25: 4,
 8.4: 5,
 7.8: 4,
 21.8: 4,
 27.25: 1,
 18.6: 1,
 7.95: 10,
 5.8: 5,
 19.8: 99,
 6.6: 12,
 8.25: 3,
 5.2: 3,
 17.700000000000003: 122,
 10.2: 76,
 15.8: 7,
 23.4: 31,
 25.5: 23,
 17.4: 86,
 4.2: 6,
 9.3: 1,
 23.6: 4,
 9.75: 1,
 15.3: 34,
 3.4: 5,
 38.25: 3,
 34.0: 4,
 8.850000000000001: 4,
 20.0: 3,
 17.0: 35,
 11.8: 9,
 2.9: 9,
 11.7: 10,
 14.85: 56,
 15.9: 33,
 13.2: 41,
 12.6: 50,
 12.7: 5,
 20.85: 8,
 17.85: 17,
 14.95: 4,
 16.95: 20,
 14.5: 2,
 25.200000000000003: 16,
 13.5: 12,
 13.9: 2,
 23.25: 2,
 12.75: 24,
 20.1: 4,
 10.95: 5,
 178.5: 2,
 488.16: 2,
 1220.4: 2,
 21.0: 2,
 40.56: 3,
 67.6: 7,
 45.0: 8,
 87.6: 1,
 175.2: 3,
 39.8: 7,
 168.0: 5,
 33.0: 4,
 76.19999999999999: 2,
 20.4: 24,
 84.0: 14,
 6.95: 4,
 13.52: 7,
 3.3: 16,
 2.6: 1,
 3.9: 7,
 0.95: 3,
 24.75: 2,
 16.8: 2,
 28.0: 15,
 76.5: 3,
 10.75: 2,
 15.6: 11,
 10.9: 5,
 11.6: 2,
 17.88: 6,
 22.5: 15,
 29.700000000000003: 13,
 90.0: 1,
 45.9: 1,
 20.16: 2,
 30.6: 7,
 18.95: 1,
 8.7: 9,
 29.0: 1,
 6.6000000000000005: 1,
 11.9: 5,
 89.69999999999999: 4,
 17.34: 9,
 7.56: 1,
 102.0: 3,
 109.5: 1,
 224.0: 3,
 13.05: 6,
 217.5: 3,
 82.5: 3,
 3.3600000000000003: 1,
 14.75: 8,
 56.0: 11,
 20.8: 12,
 16.6: 15,
 27.2: 5,
 54.08: 6,
 10.0: 10,
 59.400000000000006: 2,
 10.4: 5,
 78.0: 1,
 19.92: 8,
 26.32: 1,
 119.4: 2,
 53.1: 2,
 67.5: 1,
 47.7: 2,
 40.2: 1,
 9.96: 15,
 6.959999999999999: 8,
 35.8: 2,
 27.0: 1,
 196.0: 3,
 41.6: 1,
 12.48: 9,
 2.52: 1,
 18.72: 6,
 2.88: 2,
 18.96: 4,
 13.0: 2,
 51.0: 2,
 23.700000000000003: 1,
 11.4: 1,
 34.65: 1,
 24.96: 12,
 27.04: 2,
 26.4: 1,
 270.0: 3,
 1350.0: 3,
 6.8: 6,
 66.0: 1,
 46.75: 1,
 1.69: 2,
 4.68: 12,
 2.25: 5,
 5.95: 5,
 4.949999999999999: 5,
 0.29: 1,
 4.35: 3,
 1.49: 1,
 1.5: 1,
 0.39: 3,
 0.79: 3,
 4.5: 3,
 0.55: 1,
 2.08: 11,
 162.72: 1,
 23.0: 1,
 31.8: 2,
 40.8: 3,
 5.88: 1,
 92.16: 3,
 208.8: 1,
 133.12: 1,
 0.0: 1,
 89.25: 1,
 50.85: 1,
 24.9: 6,
 25.0: 5,
 4.16: 5,
 4.15: 9,
 2.89: 6,
 0.84: 2,
 6.58: 1,
 8.3: 2,
 34.8: 6,
 49.92: 3,
 7.9: 2,
 6.5: 2,
 15.12: 2,
 3.25: 2,
 2.49: 2,
 5.85: 1,
 2.34: 2,
 8.67: 1,
 3.36: 1,
 6.72: 3,
 7.649999999999999: 2,
 29.75: 2,
 7.25: 2,
 3.38: 1,
 50.0: 3,
 33.9: 2,
 17.9: 1,
 29.88: 1,
 16.599999999999998: 2,
 56.25: 1,
 49.8: 1,
 81.12: 2,
 6.64: 3,
 4.5600000000000005: 4,
 9.36: 8,
 11.52: 1,
 23.9: 1,
 118.8: 1,
 14.04: 2,
 183.6: 2,
 190.4: 1,
 97.8: 1,
 350.4: 1,
 88.0: 1,
 417.5: 1,
 258.72: 2,
 199.2: 1,
 312.0: 2,
 66.4: 1,
 250.0: 1,
 360.0: 1,
 52.2: 1,
 52.02: 1,
 66.24: 1,
 1.26: 1,
 3.35: 1,
 6.75: 2,
 4.74: 1,
 1.14: 1,
 3.3000000000000003: 1,
 65.0: 1,
 7.75: 1,
 20.88: 3,
 20.28: 2,
 30.24: 1,
 4.98: 1,
 29.9: 1,
 34.68: 2,
 14.94: 1,
 21.9: 1,
 16.65: 1,
 17.25: 1,
 280.0: 1,
 23.8: 1,
 18.9: 1,
 0.83: 2,
 6.35: 1,
 1.66: 1,
 11.85: 1,
 27.8: 1,
 12.45: 1,
 7.47: 1,
 28.9: 1,
 29.85: 1,
 11.56: 1,
 75.0: 2,
 29.880000000000003: 1,
 33.2: 1,
 26.0: 1,
 44.55: 1,
 74.7: 1,
 290.0: 1,
 1080.0: 1,
 12.72: 1,
 14.22: 1,
 6.76: 1,
 0.78: 2,
 0.21: 3}

#### Select all orders made in the month of August

In [17]:
orders[orders['month']==8]

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
199475,285421,561904,22075,2011,8,1,8,6 ribbons elegant christmas,96,2011-08-01 08:30:00,1.45,17941,United Kingdom,139.20
199476,285422,561904,85049E,2011,8,1,8,scandinavian reds ribbons,156,2011-08-01 08:30:00,1.06,17941,United Kingdom,165.36
199477,285423,561905,21385,2011,8,1,9,ivory hanging decoration heart,24,2011-08-01 09:31:00,0.85,14947,United Kingdom,20.40
199478,285424,561905,84970L,2011,8,1,9,single heart zinc t-light holder,12,2011-08-01 09:31:00,0.95,14947,United Kingdom,11.40
199479,285425,561905,84970S,2011,8,1,9,hanging heart zinc t-light holder,12,2011-08-01 09:31:00,0.85,14947,United Kingdom,10.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226483,320688,565067,22644,2011,8,3,17,ceramic cherry cake money bank,2,2011-08-31 17:16:00,1.45,15856,United Kingdom,2.90
226484,320689,565067,22645,2011,8,3,17,ceramic heart fairy cake money bank,2,2011-08-31 17:16:00,1.45,15856,United Kingdom,2.90
226485,320690,565067,22637,2011,8,3,17,piggy bank retrospot,2,2011-08-31 17:16:00,2.55,15856,United Kingdom,5.10
226486,320691,565067,22646,2011,8,3,17,ceramic strawberry cake money bank,2,2011-08-31 17:16:00,1.45,15856,United Kingdom,2.90
226487,320692,565067,22741,2011,8,3,17,funky diva pen,48,2011-08-31 17:16:00,0.85,15856,United Kingdom,40.80

#### Select how many orders are made by countries in the month of August
##### Hint: Use value_counts()

In [61]:
orders[orders['month']==8]['Country'].value_counts()

United Kingdom     23105
Germany              795
EIRE                 593
France               569
Netherlands          280
Switzerland          267
Spain                252
Belgium              194
Israel               171
Channel Islands      140
Australia            107
Italy                 95
Austria               88
Norway                77
Finland               61
Malta                 55
Portugal              41
Sweden                40
Unspecified           23
Iceland               22
Poland                17
Denmark               16
Canada                 5
Name: Country, dtype: int64

In [60]:
aug = orders[orders['month']==8][['InvoiceNo','Country']]
aug.value_counts().groupby('Country').sum()

Country
Australia            107
Austria               88
Belgium              194
Canada                 5
Channel Islands      140
Denmark               16
EIRE                 593
Finland               61
France               569
Germany              795
Iceland               22
Israel               171
Italy                 95
Malta                 55
Netherlands          280
Norway                77
Poland                17
Portugal              41
Spain                252
Sweden                40
Switzerland          267
United Kingdom     23105
Unspecified           23
dtype: int64

#### What's the  average amount of money spent by country

In [54]:
orders.groupby('Country').mean()['amount_spent']

Country
Australia               116.895620
Austria                  25.624824
Bahrain                  32.258824
Belgium                  20.283772
Brazil                   35.737500
Canada                   24.280662
Channel Islands          27.340160
Cyprus                   22.134169
Czech Republic           33.069600
Denmark                  49.882474
EIRE                     36.687745
European Community       21.670833
Finland                  32.913985
France                   25.056827
Germany                  25.311562
Greece                   32.831172
Iceland                  23.681319
Israel                   29.119718
Italy                    23.064960
Japan                   116.561900
Lebanon                  37.641778
Lithuania                47.458857
Malta                    24.335625
Netherlands             120.798282
Norway                   33.736418
Poland                   22.226212
Portugal                 22.872702
RSA                      17.281207
Saudi Arabia             16.213333
Singapore                95.852658
Spain                    24.779521
Sweden                   85.096075
Switzerland              30.642752
USA                      20.002179
United Arab Emirates     27.974706
United Kingdom           20.625073
Unspecified              10.930615
Name: amount_spent, dtype: float64

#### What's the most expensive item?

In [55]:
orders[orders['UnitPrice']==orders['UnitPrice'].max()]

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
118352,173382,551697,POST,2011,5,2,13,postage,1,2011-05-03 13:46:00,8142.75,16029,United Kingdom,8142.75

#### What was the average amount spent per year ?

In [58]:
orders.groupby('year').mean()['amount_spent']

year
2010    21.892733
2011    22.430074
Name: amount_spent, dtype: float64