# Before you start :
   - These exercises are related to the Subsetting and Descriptive Stats lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary

In [ ]:
# import libraries here
import pandas as pd
import numpy as np
import pylab as plt
import seaborn as sns


import warnings
warnings.filterwarnings('ignore')

# Challenge 1

#### In this challenge we will use the `Temp_States.csv` file. 

#### First import it into a data frame called `temp`.

In [ ]:
# your answer here
temp = pd.read_csv('Temp_States.csv')

#### Print `temp`

In [ ]:
temp

#### Explore the data types of the Temp dataframe. What type of data do we have? Comment your result.

In [ ]:
# your answer here
temp.info(memory_usage='deep')

In [ ]:
# tenemos objects y floats

#### Select the rows where state is New York

In [ ]:
# your answer here
temp[temp['State']== 'New York']

#### What is the average of the temperature of cities in New York?

In [ ]:
# your answer here
temp.Temperature[temp['State']== 'New York'].mean()

#### We want to know cities and states with Temperature above 15 degress Celcius

In [ ]:
# your answer here
temp[temp['Temperature']>15.0]

#### Now, return only the cities that have a temperature above 15 degress Celcius

In [ ]:
# your answer here
temp.City[temp['Temperature']>15.0]

#### We want to know which cities have a temperature above 15 degrees Celcius and below 20 degrees Celcius

*Hint: First write the condition then select the rows.*

In [ ]:
# your answer here
temp[(temp['Temperature']<20.0) & (temp['Temperature']>15.0)]

#### Find the mean and the standard deviation of the temperature of each state.

*Hint: Use functions from Data Manipulation lesson*

In [ ]:
temp['Temperature'].groupby(temp['State']).mean()

In [ ]:
# your answer here
temp['Temperature'].groupby(temp['State']).std()

# Challenge 2

#### Load the `employee.csv` file into a DataFrame. Call the dataframe `employee`

In [ ]:
# your answer here
employee = pd.read_csv('employee.csv')

#### Explore the data types of the Temp dataframe. Comment your results

In [ ]:
# your answer here
employee.info(memory_usage='deep')

In [ ]:
# Hay ints y objects
employee

#### Show visually the frequency distribution (histogram) of the employee dataset. In few words describe these histograms?

In [ ]:
sns.histplot(x=employee.Department); #departamento en el que trabajan

In [ ]:
sns.histplot(x=employee.Education); # maxima formacion recibida

In [ ]:
sns.histplot(x=employee.Gender); #sexos

In [ ]:
sns.histplot(x=employee.Title); #titulo dentro de la empresa

In [ ]:
sns.histplot(x=employee.Years); # aÃ±os que llevan trabajando en la empresa

In [ ]:
sns.histplot(x=employee.Salary); # salario que cobran en k

#### What's the average salary in this company?

In [ ]:
# your answer here
employee.Salary.mean()

#### What's the highest salary?

In [ ]:
# your answer here
employee.Salary.max()

#### What's the lowest salary?

In [ ]:
# your answer here
employee.Salary.min()

#### Who are the employees with the lowest salary?

In [ ]:
# your answer here
employee.Name[employee['Salary']==employee.Salary.min()]

#### Could you give all the information about an employee called David?

In [ ]:
# your answer here
employee[employee['Name']=='David']

#### Could you give only David's salary?

In [ ]:
# your answer here
employee.Salary[employee['Name']=='David']

#### Print all the rows where job title is associate

In [ ]:
# your answer here
employee[employee['Title']=='associate']

#### Print the first 3 rows of your dataframe

##### Tip : There are 2 ways to do it. Do it both ways

In [ ]:
# your answer here- 1 method
employee.head(3)

In [ ]:
# your answer here- 2nd method
employee[:3]

#### Find the employees who's title is associate and the salary above 55?

In [ ]:
# your answer here
employee[employee['Salary']>55]

#### Group the employees based on their number of years of employment. What are the average salaries in each group?

In [ ]:
# your answer here
employee['Salary'].groupby(employee['Years']).mean()

####  What is the average Salary per title?

In [ ]:
# your answer here
employee['Salary'].groupby(employee['Title']).mean()

#### Show a visual summary of the data using boxplot. What Are the First and Third Quartiles? Comment your results.
##### * Hint : Quantiles vs Quartiles*

 - `In Probability and Statistics, quantiles are cut points dividing the range of a probability distribution into continuous intervals with equal probabilities. When division is into four parts the values of the variate corresponding to 25%, 50% and 75% of the total distribution are called quartiles.`

In [ ]:
# draw boxplot here

sns.boxplot(x=employee.Salary);

In [ ]:
employee.Years.mode()

In [ ]:
# print first quartile here
sns.boxplot(x=employee[employee['Salary']==35].Salary);

In [ ]:
# print third quartile here
sns.boxplot(x=employee[employee['Salary']==60].Salary);

#### Is the mean salary per gender different?

In [ ]:
# your answer here
employee['Salary'].groupby(employee['Gender']).mean()

#### Find the minimum, mean and the maximum of all numeric columns for each Department.

##### Hint: Use functions from Data Manipulation lesson

In [ ]:
# your answer here
employee.groupby(employee['Department']).mean()

In [ ]:
employee[['Years', 'Salary']].groupby(employee['Department']).max()

In [ ]:
employee[['Years', 'Salary']].groupby(employee['Department']).min()

In [ ]:
employee[['Years','Salary', 'Department']]

### Bonus Question

#### For each department, compute the difference between the maximal salary and the minimal salary.

##### * Hint: try using `agg` or `apply` and `lambda`*

In [ ]:
# your answer here
a = employee['Salary'].groupby(employee['Department']).max()
b = employee['Salary'].groupby(employee['Department']).min()
a-b

# Challenge 3

#### Open the Orders.csv dataset. Name your dataset orders

In [ ]:
# your answer here

from zipfile import ZipFile

test_file_name = "Orders.zip"

with ZipFile(test_file_name, 'r') as zip:
    zip.printdir()
    zip.extractall() 

orders = pd.read_csv('Orders.csv')

#### Explore your dataset by looking at the data types and the summary statistics. Comment your results

In [ ]:
# your answer here
import statistics as stats
orders.describe().T

In [ ]:
# your answer here

####  What is the average Purchase Price?

In [ ]:
# your answer here
orders.UnitPrice.mean()

#### What were the highest and lowest purchase prices?

In [ ]:
# your answer here
orders.UnitPrice.min()

In [ ]:
# your answer here
orders.UnitPrice.max()

#### Select all the customers we have in Spain

In [ ]:
# your answer here
orders[['Country', 'CustomerID']][orders['Country']=='Spain']

#### How many customers do we have in Spain?
##### Hint : Use value_counts()

In [ ]:
# your answer here
orders['Country'][orders['Country']=='Spain'].value_counts()

#### Select all the customers who have bought more than 50 items ?

In [ ]:
# your answer here
orders['CustomerID'][orders.Quantity>50]

#### Select orders from Spain that are above 50 items

In [ ]:
# your answer here
orders['CustomerID'][(orders.Quantity>50) & (orders.Country=='Spain')]

#### Select all free orders

In [ ]:
# your answer here
orders['UnitPrice'][orders.UnitPrice==0]

#### Select all orders that are 'lunch bag'
#### Hint: Use string functions

In [ ]:
# your answer here
orders['InvoiceNo'][orders.Description.str.contains('lunch bag')==True]

#### Select all orders that are made in 2011 and are 'lunch bag'

In [ ]:
# your answer here
orders['InvoiceNo'][(orders.Description.str.contains('lunch bag')==True) & (orders.InvoiceDate.str.contains('2011'))]

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your answer here
sns.histplot(x=orders.amount_spent[orders['Country']=='Spain']);

#### Select all orders made in the month of August

In [ ]:
# your answer here
orders.InvoiceNo[orders.month == 8]

#### Select how many orders are made by countries in the month of August
##### Hint: Use value_counts()

In [ ]:
# your answer here
orders.Country[orders.month == 8].value_counts()

#### What's the  average amount of money spent by country

In [ ]:
# your answer here
orders.amount_spent.groupby(orders.Country).mean()

#### What's the most expensive item?

In [ ]:
# your answer here
orders.Description[orders.UnitPrice==orders.UnitPrice.max()]

#### What was the average amount spent per year ?

In [ ]:
# your answer here
orders.amount_spent.groupby(orders.year).mean()